<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" media="all"  
      href="../../css/user_pages.css" th:href="@{/css/user_pages.css}" />
</head>
<body>


<form action="#" th:action="@{/student/view_lecture}" th:object="${lecture}" method="post">
	
	
	<p th:text="''+${message}"/>
	<h1>Lecture details</h1>
    	<p th:text="${lecture.title}"/>
    	<p th:text="${lecture.details}"/>
    	<p th:text="${link}"/>
	
	<div th:switch="${lecture.attendance}">
		<p th:case="true"><input type="checkbox" th:name="attendance" th:value="${lecture}+====attendance" /></p>
		<p th:case="*"></p>
	</div>
	
    <a href="../whiteboard">Logout</a>
    <a href="course_page">Back</a>
    <input type="submit" value="Submit" />


</form>

</body>
</html>