<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student- View Lecture</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../css/view.css"></link>
</head>
<body>

	<div id="sidebar">
	<ul id="contents">
		<li id="logo"><a href="student_home">WhiteBoard</a></li>
  		<li id="logout"><a href="../../whiteboard">logout</a></li>
	</ul>
	</div>
	
	<h1>Lecture details</h1>
	
	<p th:text="''+${message}"/>
<form action="#" th:action="@{/student/view_lecture}" th:object="${lecture}" method="post">
	
	<table align="center">
	<tr>
	<th>Title</th>
	<th>Details</th>
	<th>Link</th>
	</tr>
	
	<tr>
    	<td th:text="${lecture.title}"/>
    	<td th:text="${lecture.details}"/>
    	<td th:text="${link}"/>
	</tr>
	</table>
	<div th:if="${lecture.attendance} == true">
		<p>Attendance: </p>
		<input id="attendance" type="checkbox" th:name="attendance" th:value="${lecture}+'====attendance'" onclick="takeAttendance()" />
	</div>
	<div th:unless="${lecture.attendance} == false">
		<p></p>
	</div>
	
    <p id="subBack">
    	<button type="submit" class="btn btn-primary">Submit</button>
    	<a href="admin/admin_home">Back</a>
    </p>

</form>
	<script type="text/javascript" src="../js/attendance.js"></script>
</body>
</html>