<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/login.css"/>
  <link rel="stylesheet" media="all"  
      href="../../css/background_theme.css" th:href="@{/css/background_themeSignup.css}" />   
      
<title>Add New Assignment</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container-fluid">
    <h1>Add Assignment</h1>
    <p th:text="''+${message}"/>
    <form id="myForm" action="#" th:action="@{/prof/add_assignments}" th:object="${assignments}" method="post">
        <div class="form-group">
        <label for="AssnignmentName">Assignment Name:</label>
             <input id="name" class="form-control" type="text" placeholder="Enter assignment name" th:field="${assignments.assName}" />
        </div>

        <div class="form-group">
        <label for="Percentage">Percentage:</label> 
            <input id="percentage" class="form-control" type="number" placeholder="Enter the weightage" th:field="${assignments.percentage}" />
        </div>

        <p>
            <input id="sub" class="btn btn-primary" type="submit" value="Submit" />
        </p>
    </form>
    </div>

    <script type="text/javascript" src="signup.js"></script>
</body>
</html>