<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../css/add_assignment.css"></link>
<title>Add New Assignment</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="sidebar">
	<ul id="contents">
		<li id="logo"><a href="prof_home">WhiteBoard</a></li>
  		<li id="logout"><a href="../whiteboard">logout</a></li>
	</ul>
	</div>
    <div class="container-fluid">
    <p th:text="''+${message}"/>
    <h3 id="headingForm">Add Assignment</h3>
    <p th:text="''+${message}"/>
    <form id="myForm" action="#" th:action="@{/prof/add_assignments}" th:object="${assignments}" method="post">

           <p>Assignment Name: <input id="AssignmentName" class="form-control" type="text" placeholder="Enter assignment name" th:field="*{assName}" /></p>

            <p>Percentage: <input id="percentage" class="form-control" type="number" placeholder="Enter the weightage" th:field="*{percentage}" /></p>
        <p>
            <input id="sub" class="btn btn-primary" type="submit" value="Submit" />
            <a href="course_page">Back</a>
        </p>
    </form>
    </div>

    <script type="text/javascript" src="../js/add_assignment.js"></script>
</body>
</html>