<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../css/course_page.css"></link>
</head>
<body>

	<div id="sidebar">
	<ul id="contents">
		<li id="logo"><a href="prof_home">WhiteBoard</a></li>
		<li id="addLecture"><a href="new_lecture">Add New Lecture</a></li>
  		<li id="logout"><a href="../../whiteboard">logout</a></li>
  		<li id="viewLocation"><a href="view_location">See on map</a></li>
	</ul>
	</div>
	
	<p th:text="''+${message}"/>
	<h1>Lectures</h1>
	<form action="#" th:action="@{/prof/course_page}" th:object="${lectures}" method="post">
	<table align="center">
	<tr>
	<th>Lecture</th>
	<th>Date</th>
	<th>Open Attendance</th>
	<th>Close Attendance</th>
	<th>View</th>
	</tr>
	<tr th:each="lecture : ${lectures.lectures}">
        <td th:text="${lecture?.title}"></td>
        <td th:text="${lecture?.date}"></td>
        <div th:if="${lecture.attendance} == true">
        	<td><input type="radio" th:id="${lecture.id}" th:name="view_lecture" th:value="${lecture}+'====attendance'" checked = "true"/></td>
        	<td><input type="radio" th:id="${lecture.id}" th:name="view_lecture" th:value="${lecture}+'====close'" /></td>
        </div>
        <div th:if="${lecture.attendance} == false">
        	<td><input type="radio" th:id="${lecture.id}" th:name="view_lecture" th:value="${lecture}+'====attendance'"/></td>
        	<td><input type="radio" th:id="${lecture.id}" th:name="view_lecture" th:value="${lecture}+'====close'" checked="true"/></td>
        </div>
        
        
        <td><input type="checkbox" th:name="view_lecture" th:value="${lecture}+'====na'" /></td>
        </tr>
	</table>
	<p id="subBack">
    	<button type="submit" class="btn btn-primary">Submit</button>
    	<a href="prof_home">Back</a>
    </p>
    </form>
</body>
</html>
