<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
  <head>
    <title>Upload File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/upload_form.css"></link>
</head>
   
   <body>
	<div id="sidebar">
	<ul id="contents">
		<li id="logo"><a href="prof_home">WhiteBoard</a></li>
  		<li id="logout"><a href="../../whiteboard">logout</a></li>
	</ul>
	</div>

       
      <h1>Upload One File:</h1>
       
      <!-- MyUploadForm -->
       
      <form id="myForm" th:object="${fileBucket}" method="POST" action="" enctype="multipart/form-data">
		<p>
			Description:
         <input th:field="*{description}" style="width:300px;"/>   
		</p>              
		<p id="Upload">
			<input th:field="${fileBucket}" type="file"/>
		</p>
        <p id="subBack">
            	<button id="submit" type="submit" class="btn btn-primary btn-lg" >Submit</button>
            	<a href="../course_page">Back</a></p>
      </form>
       
   </body>
</html>