<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
  <head>
    <title>Upload File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../css/upload_form.css"></link>
</head>
   
   <body>
	<div id="sidebar">
	<ul id="contents">
		<li id="logo"><a href="prof_home">WhiteBoard</a></li>
  		<li id="logout"><a href="../../whiteboard">logout</a></li>
	</ul>
	</div>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form id="myForm" method="POST" enctype="multipart/form-data" action="/prof/uploadOneFile">
			<h1>Upload File</h1>
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input id="uploadButton" type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	
	<div id="uploadedFiles">
		<h1>List of Uploaded Files</h1>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
	</div>
	<div>
		<h3 th:text="${totalFiles}"/>
	</div>
        <p id="subBack">
            	<button id="submit" type="submit" class="btn btn-primary" >Submit</button>
            	<a href="prof_home">Back</a></p>
       
   </body>
</html>
