<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" media="all"  
      href="../../css/user_pages.css" th:href="@{/css/user_pages.css}" />
</head>
<body>

	<p th:text="''+${message}"/>
	<h1>Lecture details</h1>
    	<p th:text="${lecture.title}"/>
    	<p th:text="${lecture.details}"/>
    	<p th:text="${lecture.link}"/>
	
	<h1>Attendance</h1>
  	<form action="#" th:action="@{/prof/course_page}" th:object="${attendance}" method="post">
	<div>
		<table style="margin: 0 auto;">
		<tr>
	<th>Attendance list<th>
	</th>
	</tr>
	<tr th:each="people : ${attendance}">
        <td th:text="${attendance?.date}"></td>
        <td th:text="${attendance?.time}"></td>
        <td th:text="${attendance?.studId}"></td>
        <td th:text="${attendance?.lecture}"></td>
        <td th:text="${attendance?.SectionNo}"></td>
        </tr>
        </table>
    <a href="../whiteboard">Logout</a>
    <a href="course_page">Back</a>
    </div>
</form>
</body>
</html>
