<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Welcome to White Board</h1>
    <form action="#" th:action="@{/whiteboard}" th:object="${person}" method="post">
    	<p>ID: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        
        <p><input type="submit" value="Submit" /><a href="login/signup">Register</a></p>
    </form>
</body>
</html>