body {
	background-image: url("whiteboard_back.jpg");
    background-repeat:   no-repeat;
    background-position: center top; 
    background-size: 600px 440px;
}

h1 {
	font-family: sans-serif;
	text-align: center;
}

p {
	font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}