#myForm{
	margin-right:40%;
	color: #4682B4;
	text-align: right;
}

#subBack {
	margin-left:35%;
	padding-top:4%
}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#studList,#seatingChart {
	margin-left:45%;
	color: #4682B4;
    width: 100%;
	text-align: center;
	height:100%;
	padding-bottom:50%;
}
table{
	border: 1px solid black;
    border-collapse: collapse;
    padding-bottom:50%;
}
th{
	text-align:center;
}
td {
    height: 50px;
}
h1 {
	margin-left:25%;
	padding-bottom:2%;
}
p{
	margin-left:34%;
	width:70%;
	color:#4682B4;
	padding-bottom:1%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #4682B4;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
    border: 1px solid #555;
}
#logout {
    display: block;
    color: black;
    padding-bottom:2%;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#addFile {
    display: block;
    color: black;
    padding-bottom:2%;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#logo {
    display: block;
    color: black;
    padding: 8px 16px;
    background-color: grey;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:25px;
}

li a:hover {
    
    color: blue;
    text-decoration: none;
}
