#myForm{
	margin-left:30%;
	color: #4682B4;
	text-align: left;
    padding-top: 1%;

}
#uploadButton{
    margin-left: 43%;
}
#subBack {
	margin-left:43%;
	padding-top:1%
}
.floating-box
{
    display: inline-block;
}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
th, td{
    padding-bottom: 5%;
    text-align:left;
}
h1 {
	margin-left:1%;
	padding-bottom:4%;
}

h2 {
    margin-left:1%;
    padding-bottom:4%;
}

#uploadOneFile {
    display: block;
    color: black;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;


}
h3 {
    margin-left:1%;
    padding-bottom:4%;
}
p{
	margin-left:34%;
	width:60%;
	color:#4682B4;
	padding-bottom:1%
}
#Upload{
    margin-left:55%;
    width:60%;
    color:#4682B4;
    padding-bottom:1%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #4682B4;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
    border: 1px solid #555;
}
#uploadedFiles {
    margin-left:30%;
    color: #4682B4;
    text-align: left;
    padding-top: 1%;
}
#logout {
    display: block;
    color: black;
    padding-bottom:2%;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;


}

#addFile {
    display: block;
    color: black;
    padding-bottom:2%;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;


}

#logo {
    display: block;
    color: black;
    padding: 8px 16px;
    background-color: grey;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:25px;
}

li a:hover {
    
    color: blue;
    text-decoration: none;
}
