table, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-right:20%;
    text-align: left;
    color:#4682B4;
    width:60%;
}

td {
	border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-right:20%;
    text-align: left;
    color:#4682B4;
    table-layout: fixed;
    width:100px;
}

.map {
	float:middle;
}

.chart {
	empty-cells: show;
	table-layout: fixed;
	width: 500px;
	border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-right:20%;
    text-align: left;
    color:#4682B4;
}

#subBack {
	padding-top:1%;
	margin-left:70%;
}

h1 {
	margin-left:18%;
	color: #4682B4;
	padding-bottom:2%;
}
#lecT, #lecF {
    position:fixed;
    top: 25%;
    left: 20%;
    width:30px;
    height:18px;
}

h3 {
	margin-left:20%;
	color: #4682B4;
	padding-bottom:1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #4682B4;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
    border: 1px solid #555;
}
#logout {
    display: block;
    color: black;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;


}

#logo {
    display: block;
    color: black;
    padding: 8px 16px;
    background-color: grey;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:25px;
}

li a:hover {
    
    color: blue;
    text-decoration: none;
}
