<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin HomePage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/admin_home.css"></link>
</head>
<body>
<ul id="contents">
	<li id="logo"><a href="admin_home">WhiteBoard</a></li>
  <li id="logout"><a href="../whiteboard">Logout</a></li>
</ul>

<div class="card1">
  <img src="../img/blueBackground.png" style="width:100%"></img>
  <div class="container">
    <h4><a href="show_users/">People</a></h4> 
  </div>
</div>

<div class="card2">
  <img src="../img/blueBackground.png" style="width:100%"></img>
  <div class="container">
    <h4><a href="enroll_student">Add Students</a></h4>  
  </div>
</div>

<div class="card3">
  <img src="../img/blueBackground.png" style="width:100%"></img>
  <div class="container">
    <h4><a href="enroll_prof">Add Professors</a></h4> 
  </div>
</div>

<div class="card4">
  <img src="../img/blueBackground.png" style="width:100%"></img>
  <div class="container">
    <h4><a href="create_course">Add New Course</a></h4>  
  </div>
</div>

</body>
</html>