<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" media="all"  
      href="../../css/user_pages.css" th:href="@{/css/user_pages.css}" />
</head>
<body>
	<h1>WIP - Admin</h1>
	<p th:text="'Hello, ' + ${username} + ' - ' + ${name} + '!'"/>
	<a href ="show_users">View user list</a>
	<a href="create_course">Create new course</a>
	
    <a href="../whiteboard">Logout</a>
</body>
</html>