<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <link rel="stylesheet" media="all"  
      href="../../css/background_theme.css" th:href="@{/css/background_theme.css}" />
      
<title>Sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add Course</h1>
    <form id="myForm" action="#" th:action="@{/admin/create_course}" th:object="${course}" method="post">
             <input id="course_code" class="form-control" type="text" placeholder="Enter Course Code" th:field="*{course_code}" />

            <input type="course_name" class="form-control" id="course_name" placeholder="Enter Course Name" th:field="*{course_name}" />

        <p>
            <input id="sub" class="btn btn-primary" type="submit" value="Submit" />
        </p>
    </form>
    </div>
</body>
</html>