<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <link rel="stylesheet" media="all"  
      href="../../css/background_theme.css" th:href="@{/css/background_theme.css}" />
      
<title>Sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add Course</h1>
    <p th:text="''+${message}"/>
    <form action="#" th:action="@{/admin/create_course}" th:object="${course}" method="post">
            <p>Enter Course Code: <input id="course_code" type="text" th:field="*{course_code}" /></p>
			<p>Enter Course Name: <input id="course_name" type="text" th:field="*{course_name}" /></p>

        <p>
            <input type="submit" value="Submit" /> <a href="admin/admin_home">Back</a></p>
        </p>
    </form>
</body>
</html>