<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <link rel="stylesheet" media="all"  
      href="../../css/background_theme.css" th:href="@{/css/background_theme.css}" />
      
<title>Sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="''+${message}"/>
    <form action="#" th:action="@{/admin/enroll_student}" th:object="${userList}" method="post">
	<h1>Students</h1>
	<table align="center">
	<tr>
	<th>Username</th>
	<th>ID</th>
	<th>Add</th>
	</tr>
	<tr th:each="user : ${userList.users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.id}"></td>
        <td><input type="checkbox" th:name="enrolled" th:value="${user}" /></td>
        </tr>
	
	</table>
	<p>
    	<input type="submit" value="Submit" /> <a href="admin/admin_home">Back</a>
    </p>
    </form>
</body>
</html>