<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <link rel="stylesheet" media="all"  
      href="../../css/background_theme.css" th:href="@{/css/background_theme.css}" />
      
<title>Sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="''+${message}"/>
    <form action="#" th:action="@{/admin/enroll_student}" th:object="${users}" method="post">

	<!-- 
	<h1>Courses</h1>
		<table align="center">
		<tr>
		<th>Course Code</th>
		<th>Course Name</th>
		<th>Edit users</th>
		</tr>
		<tr th:each="course : ${courses}">
	        <td th:text="${course.course_code}"></td>
	        <td th:text="${course.course_name}"></td>
	        <td><input type="checkbox" /></td>
	        </tr>
	
	</table>
-->
	<h1>Students</h1>
	<table align="center">
	<tr>
	<th>Username</th>
	<th>ID</th>
	<th>Add</th>
	</tr>
	<tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.id}"></td>
        <td><input type="checkbox" th:checked="${user.enrolled}" /></td>
        </tr>
	
	</table>

            <input type="submit" value="Submit" /> <a href="admin/admin_home">Back</a></p>
        </p>
    </form>
</body>
</html>