<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../css/show_users.css"></link>

<title>People</title>
</head>
<body>
<div id="sidebar">
	<ul id="contents">
		<li id="logo"><a href="admin_home">WhiteBoard</a></li>
  		<li id="addStudent"><a href="../enroll_student">Add Student</a></li>
  		<li id="addInstructor"><a href="../enroll_prof">Add Instructor</a></li>
  		<li id="addCourse"><a href="../create_course">Add New Course</a></li>
  		<li id="logout"><a href="../../whiteboard">logout</a></li>

	</ul>
	</div>
	<h1>User List</h1>
	
	<table align="center">
	<tr>
	<th>Username</th>
	<th>Name</th>
	<th>Role</th>
	<th>Email</th>
	<th>ID</th>
	</tr>
	<tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.id}"></td>
        </tr>
	
	</table>
    <a href="../whiteboard">Logout</a>
</body>
</html>